<app-navbar></app-navbar>
<div id="ofertas">
    <h1>Inicio</h1>
    <app-carrito></app-carrito>
    <div class="contenedor">
        <h2 id="oferta"><u> Ofertas</u></h2>
        <div class="oferta ">
            <img class="producto" src="../../../assets/img/puerta.jpg" alt="">
            <div class="informacion">
                <h2>Puerta trupan modelo iglesia en oferta</h2>
                <p><span>450Bs</span><br>Aproveche </p>
                <a class="boton" href="#">Mas informacion</a>
            </div>
        </div>
        <div class="oferta">
            <img class="producto" src="../../../assets/img/ceramica.jpg" alt="">
            <div class="informacion">
                <h2>Ceramica 40x40 Retoques cuadrados</h2>
                <p><span>38Bs m2</span></p>
                <a class="boton" href="#">Mas informacion</a>
            </div>
        </div>
    </div>
</div>