<app-navbar></app-navbar>

<div class="contenedor_cuerpo">
    <h1 class="titulo">Nosotros</h1>
    <app-carrito></app-carrito>

    <table class="table informaciones">
        <tr>
            <td class="texto-inf">
                <h2>Venta de ceramicas</h2><br>
                <p>Nosotros nos dedicamos a la venta de ceramica, vendemos ceramica de marca faboce, coboce y gladimar. Especialmente somos distribuidores de la marca faboce Usted puede encontrar ceramica de todo precio economicas como las mas vistosas.
                    Tambien puede encontrar ceramica de todo tamaño de acuerdo al como quiera colocar su superficie. Las ceramicas que puede encontrar son para piso, pared, entre estos esta el porcelanato y la ceramica normal. El porcelanato es mas resisitente
                    pero mas grande, la ceramica son mas pequeñas pero menos resistentes.
                </p>
            </td>
            <td>
                <img src="../../../assets/img/faboce.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td class="texto-inf">
                <h2>Venta de puertas</h2><br>
                <p>Nosotros estamos mas concentrados en la venta de puertas. Tenemos puertas de todo tipo y modelo para ofrecerle. Tenemos puertas para cada medida y de acuerdo a esta le ofertamos los modelos disponibles. Tenemos puertas para interiores,
                    puertas para exteriores, puertas de primera calidad, puertas comunes, puertas metalicas, tenemos puertas de acuerdo a su necesidad.
                </p>
            </td>
            <td>
                <img src="../../../assets/img/puertaColocada.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td class="texto-inf">
                <h2>Venta de ventanas</h2>
                <p>Le ofrecemos ventanas de acuerdo a la medida, tenemos ventanas desde las mas pequeñas hasta las mas grandes. Las ventanas que tenemos para venderle son aquellas sin rejas, con rejas, desplegables, ventanas que se abren de afuera a adentro.
                    Usted tambien puede realizar pedidos de acuerdo a las ventanas que usted necesita.
                </p>
            </td>
            <td>
                <img src="../../../assets/img/ventanaPuesta.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td class="texto-inf">
                <h2>Mas productos</h2><br>
                <p>
                    Tambien le ofrecemos otros productos. Entre estos productos puede encontra articulosd e ferreteria. Usted puede comprar carretillas, mamelucos, bolsas de cemento, parkets, socalos, etc... Por los cuales les podemos hacer un descuento de acuerdo a la cantidad
                    que usted compre.
                </p>
            </td>
            <td>
                <img src="../../../assets/img/construccion interiores.jpeg" alt="">
            </td>
        </tr>
    </table>
</div>